@use "/src/assets/common/styles/templates" as *;
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.avatar {
  width: 50px;
}
.blockUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  @extend %light;
}

.dark {
  @extend %dark;
}
.open {
  margin-left: 20px;
  margin-right: auto;
  cursor: pointer;
}